// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  font-family: Lato !important;
}
.center{
  text-align: center;
}
.sign-up-form{
    width:60%;
    margin: 0 auto;
}

.header{
  margin: 10% 0 5% 0;
}
.our-form-control{
  width:400px !important;
}

.shrink{
  // margin-left: 32% !important;
  margin: 0 auto !important;
}
.col-md-5{
  float: none !important;
}
.short_url{
  margin-top: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px 0;
  background-color: azure;
  font-size: 30px;
  width: 100%
}
.form-control{
  margin-bottom: 30px;
}
.user-form{
  width: 215px;
  border: none !important;
  padding: 20px !important;
}
.tabel{
  float:left;
}
.tabel2{
  float:right
}
.nav-tabs>li.active>a{
  background-color: #C6B8B8 !important;
}
.list-group-item{
  position: relative !important;
  display: block !important;
  // padding: 0 0 !important;
  margin-bottom: 0 !important;
  background-color: white !important;
  color: #555 !important;
  margin-bottom: 10px !important;
}
.list-group-item.index{
  background-color: white !important;
}
.list-group-item:first-child{
  float:none !important;
}
.list-group-item:focus{
  background-color: whitesmoke !important;
}
