<!DOCTYPE html>
<html>
<head>
  <title>Yourl</title>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
<%= yield %>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.js"></script> -->
</body>
</html>
