<!DOCTYPE html>
<html>
<head>
  <title>Yourl</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext','https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', 'http://cdn.shopify.com/s/files/1/0691/5403/t/82/assets/style.scss.css?16677709998824235896','http://css-spinners.com/css/spinner/three-quarters.css', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'http://cdn.shopify.com/s/files/1/0691/5403/t/82/assets/app.js?16677709998824235896', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.Core.js"></script> -->
</body>
</html>
